@import "materialize-css/sass/materialize.scss";

body {
  overflow-x: hidden;
}
.octocat {
  display: none;

  @media #{$medium-and-up} {
    display: block;
    position: absolute;
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
    left: 840px;
    top: 50px;
    right: 0;
  }
}

.about {
  @extend .z-depth-1;

  background: url('../img/top-background.png') center no-repeat;
  background-size: cover;
  padding-top: 35px;
  padding-bottom: 20px;
  color: whitesmoke;
  position: relative;
  z-index: 3;

  .row {
    max-width: 500px;

    .name {
      @media #{$medium-and-up} {
        text-align: left;
      }
    }

    .avatar {
      @extend .circle;

      height: 130px;
      width: auto;

      @media #{$medium-and-up} {
        float: right;
      }
    }

    .first-name {
      font-size: 35px;
    }

    .description {
      font-size: 20px;
    }

    button {
      @extend .blue, .lighten-5;
      color: black;
      margin-top: 10px;
    }
  }
}

.skills {
  @extend .z-depth-1, .grey, .lighten-3;

  padding-top: 40px;
  position: relative;
  z-index: 2;

  .row {
    max-width: 800px;

    .story {
      font-size: 18px;

      @media #{$small-and-down} {
        border-top: 1px solid lightgray;
        padding-top: 25px;
      }

      img {
        vertical-align: middle;
        height: 24px;
        width: auto;
      }

      a {
        text-decoration: underline;
        color: #467F9A;
      }

      .color1 {
        @extend  .purple-text;
      }

      .color2 {
        @extend .teal-text;
        text-decoration: underline;
      }

      .color3 {
        @extend .pink-text;
      }
    }

    .skill {
      font-size: 16px;
    }

    .story, .skill {
      text-align: left;
    }

    .stars {
      .material-icons {
        width: 24px;
        vertical-align: text-top;
      }

      .favorite {
        font-size: 22px;
      }
    }

    .append {
      float: right;
      margin-right: 40px;
      opacity: 0.8;
    }
  }
}

.portfolio
{
  @extend .blue-grey, .lighten-4;

  .header {
    @extend .white-text, .teal, .darken-2, .z-depth-1;

    position: absolute;
    left: 50%;
    transform: translate(-50%, 0) rotate(-1deg);
    margin-top: -35px;
    font-weight: 400;
    display: inline-block;
    z-index: 10;
    padding: 10px 20px;
    font-size: 18px;
    text-transform: uppercase;
  }

  .row {
    max-width: 900px;

    .cards {
      margin: 0 auto;
      padding: 30px;
      column-break-inside: avoid;

      @media #{$small-and-down} {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
      }

      @media #{$medium-and-up} {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
      }

      .card-container, .card {
        overflow: visible;
        display: inline-block;
      }

      .card {
        text-align: left;

        &.extended {

          .card-title {
            text-shadow: 1px 1px 2px black, 0 0 1em black;
          }

          .card-image img {
            height: 200px;
            object-fit: cover;
            -webkit-filter: brightness(65%);
            -filter: brightness(65%);
          }

          .card-action a {
            @extend .blue-text;
          }
        }
      }
    }
  }
}